@page "/bikeform"
@using System.Net.Http
@using System.Collections.Generic
@using System.Threading.Tasks

<div class="form-container">
    <form class="form-post">
        <div class="form-field">
            <label>Model</label>
            <input type="text" @bind-value="model" />
        </div>
        <div class="form-field">
            <label>Discount</label>
            <input type="text" @bind-value="discount" />
        </div>
        <div class="form-field">
            <label>Type</label>
            <input type="checkbox" @bind-value="type" />
        </div>

        <div class="form-field">
            <label>Price</label>
            <input type="text" @bind-value="price" />
        </div>

        <button type="submit" @onclick="SubmitForm">Trimite</button>
    </form>
</div>

 @code {
    private string model;
    private decimal discount;
    private bool type;
    private decimal price;

    private async Task SubmitForm()
    {
       try
{
    var formData = new FormUrlEncodedContent(new[]
    {
        new KeyValuePair<string, string>("model", model),
        new KeyValuePair<string, string>("discount", discount.ToString()),
        new KeyValuePair<string, string>("type", type ? "true" : "false"),
        new KeyValuePair<string, string>("price", price.ToString())
    });

    var httpClient = new HttpClient();
    var response = await httpClient.PostAsync("https://localhost:7246/api/Bike", formData);
    }
    catch (Exception ex)
    {
        Console.WriteLine($"Eroare la trimiterea cererii HTTP: {ex.Message}");
    }

    }
}

